<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "The PokeBook" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div id="user-widget top-bar-left">
        <% if current_user %>
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
          Welcome <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
        <div class='top-bar-right stacked-for-medium'>
          <%= link_to "Home Page", pokemons_path %> /
          <%= link_to 'Add to your Pokedex', new_pokemon_path %> /
          <%= link_to 'Pokemon Battle', fight_path %>
        </div>
      </div>
  </div>
    <% if flash.any? %>
      <div class="flash">
        <div class="container">
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>

    <%= yield %>

    <% if flash.alert %>
      <div class="flash">
        <div class="alert">
          <%= flash[:alert] %>
        </div>
    <% end %>

  </body>
</html>
